#board {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  justify-content: center;
  margin-top: 50px;
}

#head {
  display: flex;
  justify-content: center;
}
