@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  position: fixed;
  width: 100%;
}

li {
  display: inline;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(188, 169, 162);
}

.home {
  display: flex;
  background: url("background.jpg") no-repeat center;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: "Ubunta", sans-serif;
  align-items: center;
  justify-content: center;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: 3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
.about {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  height: 100vh;
}
.about .title {
  text-align: center;
  font-family: "Ubunta", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-top: 100px;
}

img {
  float: left;
  margin-left: 200px;
  margin-top: 40px;
  height: 400px;
  width: 500px;
  object-fit: contain;
}

p {
  text-align: center;
  padding-top: 150px;
}

.display-imgs {
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 520px 520px;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 70px;
}

.portfolio {
  text-align: center;
  font-family: "Ubunta", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-top: 100px;
}
.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family: "Ubunta", sans-serif;
  font-size: medium;
  font-weight: 10;
}

.project-link a:hover {
  color: crimson;
  text-decoration: none;
}

#linkedin {
  width: 50px;
  height: 50px;
}
#gmail {
  width: 50px;
  height: 50px;
  margin-left: 70px;
}

#git {
  width: 50px;
  height: 50px;
  margin-left: 70px;
  margin-right: 200px;
}
.contact-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.my-contact {
  text-align: center;
  font-family: "Ubunta", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-top: 100px;
}

.contact-table {
  margin-left: 650px;
  margin-top: 100px;
  font-family: "Ubunta", sans-serif;
}

.journal-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

p {
  margin-top: 80px;
  font-family: "Ubunta", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 100px;
}

.journal-section {
  text-align: center;
  font-family: "Ubunta", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-top: 100px;
}

@media only screen and (max-width: 600px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .home .home-content .text-1 {
    font-size: 15px;
  }

  .home .home-content .text-2 {
    font-size: 35px;
    font-weight: 600;
    margin-left: 3px;
  }

  .home .home-content .text-3 {
    font-size: 20px;
    margin: 5px 0;
  }

  .home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
  }

  .contact-table {
    margin-left: 5px;
    margin-top: 150px;
    font-family: "Ubunta", sans-serif;
  }

  #hike {
    width: 100%;
    margin-left: 100px;
  }
  #baby {
    width: 100%;
    margin-left: 100px;
  }
  #food {
    width: 100%;
    margin-left: 100px;
  }
  #travel {
    width: 100%;
    margin-left: 100px;
  }

  .journal-imgs {
    display: inline;
  }
  p {
    font-family: "Ubunta", sans-serif;
    font-size: 15px;
    font-weight: 50;
  }

  .display-imgs {
    display: inline;
  }
  .project-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #p1 {
    width: 100%;
    margin-left: 100px;
  }
  #p2 {
    width: 100%;
    margin-left: 100px;
  }
  #p3 {
    width: 100%;
    margin-left: 100px;
  }
  #p4 {
    width: 100%;
    margin-left: 100px;
  }

  .about img {
    width: 50%;
  }
}
